body{
    margin: 1%;
    padding: 1%;
}

header{
    background-color: #0000ff;
    background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
    background-size: cover;
    padding: 2% 3% 2% 3%;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 130%;
}

nav a{
    display: inline-block;
    width: 14%;
    min-width: 65px;
/*    best for zoom 100%*/
    margin: 0 3% 2% 3%;
/*    best for zoom 125%*/
/*    margin: 0% 2% 2% 2.2%;*/
    padding: 1.5%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-weight: bold;
}
.active, a:hover{
    color: #0000ff;
    background-color: #ffffff;
}

.left{
    display: inline-block;
    width: 18%;
    height: 100vh;
    float: left;
    background-color: #747d20;
    overflow: auto;
}

.right{
    display: inline-block;
    width: 75%;
    height: 100vh;
    float: left;
    margin-left: 1%;
    overflow: auto;

}

img{
    display: block;
    width: 70%;
    border: solid 2px #000000;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 12%;
}
